* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.div {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
#navbarNavDropdown {
  display: flex;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  gap: 50px;
}
.nav-item {
  font-size: 18px;

}
.nav-item:hover {
  border-color: #dc3545;
		box-shadow: rgba(27, 26, 26, 0.1) 0 0.25rem 0.75rem;

		cursor: pointer;
}
.navbar-brand {
  font-size: 45px;
  font-family: 'Ubuntu', sans-serif;
  color: #dc3545;
  font-weight: 600;
}
section h1 {
  font-size: 45px;
  font-family: 'Ubuntu', sans-serif;

}
section p {
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  font-size: 38px;
  font-family: 'Ubuntu', sans-serif;
}
.contact-form {
  display: flex;
  flex-direction: column;
  
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: url(/img/table.jpg) ;
  height: 710px;
}
.contact-form label {
  font-size: 20px;
  font-weight: 500;
}

.toast {
  position: fixed;
    bottom: 30px;
    right: 0;
width: 360px;
    overflow: hidden;
}
.toast-body {
  display: flex;
  gap: 15px;

}
.toast-header strong {
  font-size: 24px;

}
.toast-body p {
  font-size: 18px;
}
.toast-body span {
  font-weight: 600;
}
.wrapp {
  display: flex;
flex-direction: column;
gap: 8px;
}
